@import "./_theme.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 1.6rem;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.Header-paper {
  margin-bottom: 1.5rem;
  padding: 1rem;
  padding-left: 2rem;
}

.Header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Status {
  font-size: calc(3px + 1vmin);
}

.Background-gradient {
  background-image: linear-gradient(to right, $purple-color, $cyan-color);
}

.CryptoIcon-container {
  height: 2rem;
  width: 2rem;
}
