$purple-color: #9d4dfa;
$blue-color: #302e77;
$cyan-color: #4efdd7;
$grey-color: #3f3e4b;
$white-color: #ffffff;

:export {
  purplecolor: $purple-color;
  bluecolor: $blue-color;
  cyancolor: $cyan-color;
  greycolor: $grey-color;
  whitecolor: $white-color;
}
